#footer{
	background: $biker-green;
	clear: both;
	height: 15px;
	padding: 1em 32%;
	div{
		margin: 0 auto;
		text-align: center;
	li{
		float: left;
		list-style: none;
		margin-left: (10px*2);
		font-size: 0.8em;
		a{
			color: $white;
			text-decoration: none;
		}
	}
}
}